{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(12, 12, 184)
}

main{background-color: white
    width: 80%;
    margin: auto;
    pedding: 10px;
    box-shawdow:3px 3px 5px rgba(0,0,0,0.473);
    
    ;}